
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="{% url 'home' %}">Codezilla</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'home' %}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'leave' %}">Leave</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'profile' %}">Profile</a>
      </li>
        {% if request.user.is_manager %}
             <li class="nav-item">
        <a class="nav-link" href="{% url 'add_employee' %}">Add Employee</a>
      </li>
             <li class="nav-item">
        <a class="nav-link" href="{% url 'remove_employee' %}">Remove Employee</a>
      </li>
        {% endif %}
    </ul>
      <ul class="navbar-nav ml-auto">
          {% if request.user.is_authenticated %}
              <li class="nav_flot">
              <a class="btn btn-danger" href="{% url 'logout' %}">LogOut</a>
              </li>
              {% else %}
         <li class="nav_flot " >
              <a class="btn btn-outline-primary" href="{% url 'register' %}">Register</a>
          </li>
          <li class="nav_flot float-right">
              <a class="btn btn-outline-success" href="{% url 'login' %}">Login</a>
          </li>
          {% endif %}
    </ul>
{#    <form class="form-inline my-2 my-lg-0">#}
{#      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">#}
{#      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>#}
{#    </form>#}
  </div>
</nav>