{% extends 'accounts/base.html' %}
{% block title %}
    Add Employee
{% endblock %}
{% block contain %}
    <div class="container">
    <div class="card">
    <div class="card-header">
        <h1 style="text-align: center; margin: 10px; padding: 15px; background-color: #9fcdff; color: white">Codezilla</h1>
    </div>
        <div class="card-body">
        <h4>Remove Employee</h4>
        <br>
        <form method="POST" action="{% url 'remove_employee' %}">
        {% csrf_token %}

            {% for f in user %}
                <input type="checkbox" id="{{ f.id }}" name="{{ f.id }}" value="{{ f.employee.first_name }}">
                <label for="{{ f.id }}">{{ f.employee.first_name }} {{ f.employee.last_name }}</label><br>
{#                {{ f.employee.first_name }}#}
            {% endfor %}
        <input type="submit" class="btn btn-primary" value="Save">
                </form>

        </div>
        </div>
    </div>
{% endblock %}