{% extends 'accounts/base.html' %}
{% block title %}
    Login
{% endblock %}
{% block contain %}
{#    <h1>Leave</h1>#}
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h1 style="text-align: center">Apply for Leave</h1>
            </div>
            <div class="card-body">
                <form method="POST" action="{% url "apply_leave" %}">
                {% csrf_token %}
                {% if form.errors %}
                    {%for error in form.non_field_errors %}
                    <p class="text-danger"> {{error}}</p>
                {% endfor %}
                {% endif %}
                {% for f in form %}
                    <div class="form-group">
                    <p>{{ f.label }}</p>
                    {{ f }}
                    </div>
                {% endfor %}
                <br>
                    <input type="submit" class="btn btn-outline-success" value="Submit">
                </form>
            </div>
        </div>
    </div>

{% endblock %}