{% extends 'accounts/base.html' %}
{% block title %}
    Login
{% endblock %}
{% block contain %}
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h4>List of Leaves</h4>
            </div>
            <div class="card-body">
                <h3>Detail of leaves</h3>
            <div class="container">
                <h4> Title</h4>
                <p style="margin-left: 20px">{{ leave.title }}</p>
                <h4> Description</h4>
                <p style="margin-left: 20px">{{ leave.description }}</p>
                <h4> Starting Date</h4>
                <p style="margin-left: 20px">{{ leave.starting_date|date:"d M, Y"}}</p>
                {% if leave.ending_date %}
                    <h4>End Date</h4>
                    <p style="margin-left: 20px">{{ leave.ending_date|date:"d M, Y"}}</p>
                {% else %}
                    <h4> Half Day</h4>
                <p style="margin-left: 20px">{{ leave.half_day }}</p>
                {% endif %}
            </div>
            </div>
        </div>
    </div>
{% endblock %}