{% extends 'accounts/base.html' %}
{% block title %}
    Login
{% endblock %}
{% block contain %}
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h4>Resion Form</h4>
            </div>
            <div class="card-body">
                <form method="POST" action="{% url "resion" id %}">
                {% csrf_token %}
                    {% for f in form %}
                        <div class="form-group">
                            <p>{{ f.label }}</p>
                        {{ f }}
                        </div>
                    {% endfor %}
                    <input type="submit" class="btn btn-outline-success" value="Submit">

                </form>
            </div>

{% endblock %}