{% extends 'accounts/base.html' %}
{% block title %}
    Login
{% endblock %}
{% block contain %}
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h4>List of Leaves</h4>
            </div>
            <div class="card-body">
                <div class="d-flex justify-content-sm-around">
                    <h5>Panding Leaves</h5>
                    <h5>Total Leaves</h5>
                    <h5>Rejected Leaves</h5>

                </div>
                <div class="d-flex justify-content-sm-around">
                    <p>5</p>
                    <p>5</p>
                    <p>6</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}